@page
@model Reconcillations.Pages.ImpBank.IndexModel
@{ Layout = "Shared/_Layout";
    ViewData["Title"] = "Bank Transaction Lists"; }
@section header{
    <!-- data tables -->
    <link href="~/smile/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Sweet Alert item CSS -->
    <link rel="stylesheet" href="~/smile/assets/plugins/sweet-alert/sweetalert.min.css">
    <script src="~/smile/assets/plugins/sweet-alert/sweetalert2.all.min.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-topline-red">
            <div class="card-head">
                <header>Reconcile Transaction Lists</header>
            </div>
            <div class="card-body ">
                <div class="row p-b-20">
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="btn-group">
                            <a class="btn btn-info" style="margin-top: 20px; margin-bottom: 20px;" asp-page="/ImpBank/Create">
                                <i class="fa fa-plus"></i> Create
                            </a>
                        </div>
                    </div>
                </div>
                <table id="saveStage" class="display" style="width:100%;">
                    <thead>
                        <tr>
                            <th> S/N  </th>
                            <th> Bank Name </th>
                            <th> Account </th>
                            <th> Opening </th>
                            <th> Closing </th>
                            <th> Currency </th>
                            <th> Period </th>
                            <th> Year </th>
                            <th> Stage </th>
                            @*<th> Period Closed </th>*@
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int sno = 0; }
                        @foreach (var items in Model._translist)
                        {
            <tr>
                <td onclick="myFunction(this)" class="view-message ">
                    <h5>
                        @{ sno++; }
                        @sno
                    </h5>
                </td>
                <td onclick="myFunction(this)" class="view-message "><h5>@items.BankName</h5></td>
                <td onclick="myFunction(this)" class="center view-message "><h5>@items.AccountName</h5></td>
                <td onclick="myFunction(this)" class="view-message "><h5>@string.Format("{0:n2}", items.OpeningBal)</h5></td>
                <td onclick="myFunction(this)" class="view-message "><h5>@string.Format("{0:n2}", items.ClosingBal)</h5></td>
                <td onclick="myFunction(this)" class="view-message "><h5>@items.Currency</h5></td>
                <td onclick="myFunction(this)" class="view-message "><h5>@items.Period</h5></td>
                <td onclick="myFunction(this)" class="view-message "><h5>@items.Year</h5></td>
                @*<td onclick="myFunction(this)" class="view-message "><h5>@string.Format("{0:dd/MM/yyyy}", items.StartDate)</h5></td>
                    <td onclick="myFunction(this)" class="view-message "><h5>@string.Format("{0:dd/MM/yyyy}", items.EndDate)</h5></td>*@
                <td onclick="myFunction(this)" class="view-message "><h5>@items.Stages</h5></td>
                <td>
                    <form method="post">
                        <span class="btn-group pull-right" style="margin-top: 5px">
                            <button type="submit" class="btn btn-outline-warning btn-xs" asp-page-handler="Delete" asp-route-id="@items.RecperID" style="height: 27px; margin-top: 0px;" title="Clear Transaction">
                                @*onclick="Swal.fire({type: 'warning',title: 'Are you sure?',text: 'You will not be able to recover this imaginary file!',showCancelButton: true,confirmButtonColor: '#DD6B55', confirmButtonText: 'Yes, delete it!',closeOnConfirm: false,footer: ''},function () { Swal.fire('Deleted!', 'Your imaginary file has been deleted.', 'success');})"*@
                                @*onclick="Disable(@items.RecperID)"  confirm('Are you sure to clear this transaction ?');  *@
                                <i class="fa fa-trash-o "></i>
                            </button>

                        </span>
                    </form>
                </td>
            </tr>
}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{ <!-- data tables -->
    <script src="~/smile/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/smile/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
    <script src="~/smile/assets/js/pages/table/table_data.js"></script>
    <!-- Sweet Alert -->
    <script src="~/smile/assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/smile/assets/js/pages/sweet-alert/sweet-alert-data.js"></script>

    <script>
        function Disable(id) {
            //alert(id);
            Swal.fire({
                type: 'success',
                title: 'Reconciliation Solution',
                text: id,
                footer: ''
            })
        }
    </script>

}