@page
@model Reconcillations.Pages.ReemsRecordsModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Push Records to Reems";
}
@section header {
    <!-- Sweet Alert item CSS -->
    <link rel="stylesheet" href="~/smile/assets/plugins/sweet-alert/sweetalert.min.css">
    <script src="~/smile/assets/plugins/sweet-alert/sweetalert2.all.min.js"></script>
    <!--select2-->
    <link href="~/smile/assets/plugins/select2/css/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/smile/assets/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- data tables -->
    <link href="~/smile/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

}
<script>

    function myFunction(x) {
        $("#item_view").modal();
    };
    $(document).ready(function () {
        $("#success-alert").hide();
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    });

</script>
<div class="row">
    <div class="col-md-12">
        <div class="card card-topline-red">
            <div class="card-head">
                <header>Reems Records to Push Lists</header>
            </div>
            <div class="card-body ">
                <div id="loading-div-background">
                    <div id="loading-div" class="ui-corner-all">
                        <div id="loadingbar"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
                        <h2 style="color:gray;font-weight:normal;">Processing, Please wait.... <img src="~/smile/assets/img/2.gif" /> </h2>
                    </div>
                </div>
                <div class="row p-b-20">
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="btn-group">
                            <form method="post">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-primary" type="button" id="btnpushed"  data-type="success"><i class="glyphicon glyphicon-plus"></i> Pushed </button>
                            </form>
                        </div>
                    </div>
                </div>
                <table id="saveStage" class="display" style="width:100%;">
                    <thead>
                        <tr>
                            <th> S/N </th>
                            <th> Payment Ref Number </th>
                            <th> Payment Date </th>
                            <th> Payer Name </th>
                            <th> Amount </th>
                            <th> Payment Method </th>
                            <th> Revenue </th>
                            <th>Agency </th>
                            <th>Bank </th>
                            <th>Successfuliy Pushed</th>
                            <th>Date Pushed </th>
                            <th>Push By</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 0;
                        }
                        @foreach (var items in Model._reemsrec)
                        {
                            <tr>
                                <td onclick="myFunction(this)" class="view-message ">
                                    <h5>
                                        @{
                                            sno++;
                                        }
                                        @sno
                                    </h5>
                                </td>
                                <td onclick="myFunction(this)" class="view-message "><h5>@items.PaymentRefNumber</h5></td>
                                <td onclick="myFunction(this)" class="view-message "><h5>@string.Format("{0:d}", items.PaymentDate)</h5></td>
                                <td onclick="myFunction(this)" class="view-message "><h5>@items.payername</h5></td>
                                <td onclick="myFunction(this)" class="view-message "><h5>@string.Format("{0:n2}", items.Amount)</h5></td>
                                <td onclick="myFunction(this)" class="view-message "><h5>@items.PaymentMethod</h5></td>

                                <td onclick="myFunction(this)" class="view-message "><h5>@items.RevenueName</h5></td>
                                <td onclick="myFunction(this)" class="view-message "><h5>@items.AgencyName</h5></td>
                                <td onclick="myFunction(this)" class="view-message "><h5>@items.BankName</h5></td>
                                <td onclick="myFunction(this)" class="view-message "><h5>@items.PushToReemsSuccessful</h5></td>
                                <td onclick="myFunction(this)" class="view-message "><h5>@string.Format("{0:d}", items.PushToReemsOn)</h5></td>
                                <td onclick="myFunction(this)" class="view-message "><h5>@items.PushToReemsBy</h5></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loading-div-background').hide();
            $('#btnpushed').click(function () {
                $('#loading-div-background').show();
                Promise.resolve(
                    $.ajax({
                        url: "ReemsRecords?handler=Pushed",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        //data: JSON.stringify(apprec),
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("MY-XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        //dataType: "json",
                        //traditional: true,
                        success: function (data) {
                            console.log(data);
                            $('#loading-div-background').hide();
                            if (data === "00") {

                                Swal.fire({
                                    type: 'info',
                                    title: 'Information',
                                    text: 'Record push to Reems',
                                    footer: ''
                                });

                                // $('#idtoken').hide();
                                // $('#btntoken').hide();
                                // $("#validate").hide();
                                // $('#btnApprove').show();
                            } else {
                                Swal.fire({
                                    type: 'Error',
                                    title: 'Error',
                                    text: 'Error occur Approving Reconcile Record!',
                                    footer: ''
                                });

                            }

                        }
                    }))
            });
        });
    </script>
    <!-- data tables -->
    <script src="~/smile/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/smile/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
    <script src="~/smile/assets/js/pages/table/table_data.js"></script>

}